.clear-btn {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: rgb(25,25,25);
    color: bisque;
    flex: 1;
    cursor: default;
}

.clear-btn:hover {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: rgb(55,55,55);
    color: bisque;
    flex: 1;
    -o-transition:color .4s ease-out, background 0.4s ease-in;
  -ms-transition:color .4s ease-out, background 0.4s ease-in;
  -moz-transition:color .4s ease-out, background 0.4s ease-in;
  -webkit-transition:color .4s ease-out, background 0.4s ease-in;
}