.clear-btn {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: rgb(20,20,20);
    color: bisque;
    flex: 1;
    outline: 1px solid #888;
}