.input {
    height: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    background-image: linear-gradient(rgb(15,15,15),rgb(5,5,5));
    color: bisque;
    padding: 0.5em;
    outline: 1px solid #888;
}